.footer {
  width: 99.9%;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  color: white;
}
.folloeMeLogos {
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}
.folloeMeLogos :is(.linkedInLogo a svg, .twitterLogo a svg, .githubLogo a svg) {
  transition: 0.5s;
}
.folloeMeLogos div:hover a svg {
  transform: scale(1.5);
}
.folloeMeLogos a {
  height: 5vh;
}
.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
.copyRight > p {
  margin: 0;
}
.logo__footer {
  color: white;
}
